.resort {
  margin-top: 50px;
  margin-bottom: 50px;
}
.resort-image {
  height: 300px;
  width: 360px;
  border-radius: 10px;
  border: 5px solid silver;
}

.resort-image:hover {
  height: 310px;
  width: 370x;
}
